<div class="content pt20">
  <h1>Quadro de tarefas</h1>

  <!-- Form -->
  <mat-card class="card-new card-none" id="formCard">
    <mat-card-header>
      <mat-card-title>Tarefa</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="selectedTask">
      <p>
        <mat-form-field appearance="outline">
          <!-- Placeholder -->
          <mat-label>Nome</mat-label>
          <!-- Placeholder -->

          <!-- Input -->
          <input
            [(ngModel)]="selectedTask.name"
            matInput
            #name
            maxlength="100"
            id="nameInput"
          />
          <!-- Input -->

          <!-- Limpa campo -->
          <button
            mat-button
            *ngIf="selectedTask.name"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="selectedTask.name = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          <!-- Limpa campo -->

          <!-- Contador de caracteres -->
          <mat-hint align="end">{{ name.value.length }} / 100</mat-hint>
          <!-- Contador de caracteres -->
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <!-- Placeholder -->
          <mat-label>Descrição</mat-label>
          <!-- Placeholder -->

          <!-- Input -->
          <input
            [(ngModel)]="selectedTask.description"
            matInput
            #description
            maxlength="100"
            id="descInput"
          />
          <!-- Input -->

          <!-- Limpa campo -->
          <button
            mat-button
            *ngIf="selectedTask.description"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="selectedTask.description = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          <!-- Limpa campo -->

          <!-- Contador de caracteres -->
          <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
          <!-- Contador de caracteres -->
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Categoria</mat-label>

          <mat-select id="categInput" [(ngModel)]="selectedTask.category">
            <mat-option
              ([ngModel])="(categories)"
              *ngFor="let category of categories"
              [value]="category._id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="err-cat" *ngIf="categories.length === 0">
          Cadastre uma categoria para conseguir cadastrar uma nova tarefa
        </span>
      </p>
    </mat-card-content>

    <!-- Btns -->
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="save()" mat-button>
        Salvar
      </button>

      <button
        mat-stroked-button
        color="warn"
        mat-button
        (click)="cleanSelectedTask()"
      >
        Cancelar
      </button>
    </mat-card-actions>
    <!-- Btns -->
  </mat-card>
  <!-- Form -->

  <!-- Boards -->
  <div class="boards">
    <div class="board-container">
      <h2>To do</h2>

      <div
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doingList, doneList]"
        class="list-tasks"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="cont-box" *ngFor="let item of todo" [id]="item._id" cdkDrag>
          <span>
            {{ item.name }} <br />

            <div *ngFor="let category of categories">
              <span
                class="categoria-span"
                *ngIf="category._id === item.category"
              >
                <mat-chip-list>
                  <mat-chip color="primary" selected>
                    #{{
                      category.name.length > 10
                        ? (category.name | slice: 0:10) + "..."
                        : category.name
                    }}
                  </mat-chip>
                </mat-chip-list>
              </span>
            </div>
          </span>

          <div>
            <button
              mat-icon-button
              color="primary"
              aria-label="Ver"
              (click)="selectTask(item)"
            >
              <mat-icon>visibility</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              aria-label="Excluir"
              (click)="delete(item._id)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="board-container">
      <h2>Doing</h2>

      <div
        cdkDropList
        id="doing"
        #doingList="cdkDropList"
        [cdkDropListData]="doing"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        class="list-tasks"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="cont-box"
          *ngFor="let item of doing"
          [id]="item._id"
          cdkDrag
        >
          <span>
            {{ item.name }}

            <div *ngFor="let category of categories">
              <span
                class="categoria-span"
                *ngIf="category._id == item.category"
              >
                <mat-chip-list>
                  <mat-chip color="primary" selected>
                    #{{
                      category.name.length > 10
                        ? (category.name | slice: 0:10) + "..."
                        : category.name
                    }}
                  </mat-chip>
                </mat-chip-list>
              </span>
            </div>
          </span>

          <div>
            <button
              mat-icon-button
              color="primary"
              aria-label="Ver"
              (click)="selectTask(item)"
            >
              <mat-icon>visibility</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              aria-label="Excluir"
              (click)="delete(item._id)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="board-container">
      <h2>Done</h2>

      <div
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, doingList]"
        class="list-tasks"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="cont-box" *ngFor="let item of done" [id]="item._id" cdkDrag>
          <span>
            {{ item.name }}

            <div *ngFor="let category of categories">
              <span
                class="categoria-span"
                *ngIf="category._id == item.category"
              >
                <mat-chip-list>
                  <mat-chip color="primary" selected>
                    #{{
                      category.name.length > 10
                        ? (category.name | slice: 0:10) + "..."
                        : category.name
                    }}
                  </mat-chip>
                </mat-chip-list>
              </span>
            </div>
          </span>

          <div>
            <button
              mat-icon-button
              color="primary"
              aria-label="Ver"
              (click)="selectTask(item)"
            >
              <mat-icon>visibility</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              aria-label="Excluir"
              (click)="delete(item._id)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Boards -->

  <button
    mat-fab
    aria-label="Nova tarefa"
    class="add-fab"
    matTooltip="Adicionar tarefa"
    matTooltipPosition="left"
    (click)="formView()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
