<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>KTasks</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        O KTasks, faz parte da disciplina de Aplicações Interativas do 3°
        semestre de TSI do Senac.
      </p>

      <p>
        O projeto foi realizado por <b>Guilherme Vinicius Barbosa</b> e
        <b>Pedro Henrique Marcelino Nascimento</b>.
      </p>

      <p>
        O projeto foi realizado utilizando
        <a href="https://angular.io/" target="_blank">Angular 9</a> e
        <a href="https://material.angular.io/" target="_blank"
          >Angular Material 9.2</a
        >
      </p>
    </mat-card-content>
  </mat-card>
</div>
