@import "./variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pt20 {
  padding-top: 20px;
}

.dark-theme {
  mat-toolbar {
    background: $dark !important;
  }

  mat-sidenav {
    background: $dark !important;

    .mat-nav-list .mat-list-item {
      color: $white-k !important;
    }
  }

  .add-fab {
    background: $dark !important;
  }

  .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background: $dark !important;
    color: #ffffff !important;
  }

  .mat-primary {
    color: $dark !important;
  }
}
